label {
	display: inline; 
	width: 100px; 
	height: 50px;
}

div.edit-div {
	max-width: 300px
}
div.min-width {
	min-width: 700px;
 }
 div.labels {
   width: 100px;
   float: left;
 }

 div.values {
   margin-left: 60px;
 }
 div {
	background:#d3dae5;
	padding:2px;
 }

table{
	min-width: 700px;
	width: 95%;
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
}
table.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 }

td, th { 
	border: 1px solid #CCC;
	height: 30px;
	transition: all 0.3s; 
}
th {
	background: #DFDFDF; 
	font-weight: bold; 
}

td {
	background: #FAFAFA;
	text-align: center;
	word-break: break-all
}
p.center {
	text-align: center;
}
tr:nth-child(even) td {
 	background: #F1F1F1;
 }
tr:nth-child(odd) td {
	background: #FEFEFE; 
}
tr:hover { 
	background: #666; 
	color: #babfc6; 
}

div.edit-button {
	max-width: 20px;
	height: 20px;
	text-align: center;
	margin: auto;
	background:url('../images/time.png') no-repeat;
	cursor: pointer;
}