<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

    <div ng-app="app" ng-controller="appCtrl">

        <label><b>Username</b></label>
        <input type="text" ng-model="username" placeholder="Enter Username" name="uname" required>

        <label><b>Password</b></label>
        <input type="password" ng-model="password" placeholder="Enter Password" name="psw" required>

        <button ng-click="register()">Register</button>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../register.js"></script>
</body>
</html>