<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
</head>
<body>
<div ng-app="app" ng-controller="appCtrl">




    <b>Create Package:</b><br>
    <label>name</label>
    <input type="text" ng-model="packToCreate.name"><br>

    <label>description</label>
    <input type="text" ng-model="packToCreate.description"><br>

    <label>senderCity</label>
    <input type="text" ng-model="packToCreate.senderCity"><br>

    <label>destinationCity</label>
    <input type="text" ng-model="packToCreate.destinationCity"><br>

    <label>senderId</label>
    <input type="text" ng-model="packToCreate.sender"><br>

    <label>receiverId</label>
    <input type="text" ng-model="packToCreate.receiver"><br>

    <button ng-click="createPackage()">Create Package</button><br><br><br>




    <b>Create Route:</b><br>
    <label>package id:</label>
    <input type="text" ng-model="routeToCreate.packageId"><br>

    <label>city</label>
    <input type="text" ng-model="routeToCreate.city"><br>

    <label>date</label>
    <input type="text" ng-model="routeToCreate.date"><br>

    <button ng-click="createRoute()">Create Route</button><br><br><br>





    <b>Track Package:</b><br>
    <label>package id:</label>
    <input type="text" ng-model="trackPackage.packageId"><br>

    <label>source city</label>
    <input type="text" ng-model="trackPackage.src"><br>

    <label>destination city</label>
    <input type="text" ng-model="trackPackage.dest"><br>

    <button ng-click="trackPack()">Track Package</button><br><br><br>






    <div ng-repeat="pack in packs" >
        <b>id:</b> {{pack.id}}<br>
        <b>name:</b> {{pack.name}}<br>
        <b>description:</b> {{pack.description}}<br>
        <b>senderCity:</b> {{pack.senderCity}}<br>
        <b>destinationCity:</b> {{pack.destinationCity}}<br>
        <b>sender:</b> {{pack.sender}}<br>
        <b>receiver:</b> {{pack.receiver}}<br>
        <b>status:</b> {{pack.status}}<br>
        <b>tracking:</b> {{pack.tracking}}<br>
        <button ng-click="deletePackage(pack.id)">Delete Package</button>

        <table border="1" class="center" >
            <thead>
            <tr>
                <th>Date</th>
                <th>City</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="route in pack.routes">
                <td >{{route.date}}</td>
                <td >{{route.city}}</td>
            </tr>
            </tbody>
        </table>

        <br><br><br>
    </div>

</div>


 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
 <script src="../admin/admin.js"></script>
</body>
</html>