<!DOCTYPE html>
<html lang="en">
<head>
    <title>User</title>
</head>
<body>
<div ng-app="app" ng-controller="appCtrl">

    <div ng-repeat="pack in packs" >
        <b>id:</b> {{pack.id}}<br>
        <b>name:</b> {{pack.name}}<br>
        <b>description:</b> {{pack.description}}<br>
        <b>senderCity:</b> {{pack.senderCity}}<br>
        <b>destinationCity:</b> {{pack.destinationCity}}<br>
        <b>sender:</b> {{pack.sender}}<br>
        <b>receiver:</b> {{pack.receiver}}<br>

        <table border="1" class="center" >
            <thead>
            <tr>
                <th>Date</th>
                <th>City</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="route in pack.routes">
                <td >{{route.date}}</td>
                <td >{{route.city}}</td>
            </tr>
            </tbody>
        </table>

        <br><br>
    </div>
    ================================================<br>
    <b>Get package by tracking:</b><br>
    <label>tracking true/false</label>
    <input type="text" ng-model="trackStatus"><br>
    <button ng-click="trackPack()">Track Package</button><br>
    <label><b>List of packs ids:</b></label>{{listOfPacks}}<br>
    ================================================<br><br>

    <label>id: </label>
    <input type="text" ng-model="idStatus"><br>
    <button ng-click="getStatus()">Status</button>
    :{{status}}

</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="../user/user.js"></script>
</body>
</html>